# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml
.env
# cache
cache/
**/cache/

# python
__pycache__/
*.pyc

# data
data/raw/
data/tmp/

# logs
*.log
